accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
backoff
beautifulsoup4
bitsandbytes
bleach
cachetools
certifi
cffi
chardet
charset-normalizer
click
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses-json
datasets
debugpy
decorator
defusedxml
deprecated
dill
docker-pycreds
effdet
emoji
eval-type-backport
exceptiongroup
executing
fastjsonschema
filelock
filetype
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gitdb
gitpython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-vision
google-generativeai
googleapis-common-protos
grobid-tei-xml
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
idna
iopath
ipykernel
ipython
isoduration
jedi
jinja2
joblib
json5
jsonlines
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
langdetect
layoutparser
lxml
markupsafe
marshmallow
matplotlib
matplotlib-inline
mistune
mpmath
multidict
multiprocess
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook-shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
olefile
omegaconf
onnx
onnxruntime
opencv-python
overrides
packaging
pandas
pandocfilters
parso
pdf2image
pdfminer-six
pdfplumber
peft
pexpect
pi-heif
pikepdf
pillow
platformdirs
portalocker
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pydantic
pydantic-core
pygments
pyparsing
pypdf
pypdfium2
python-dateutil
python-iso639
python-json-logger
python-magic
python-multipart
# python-oxmsg
pytz
pyyaml
pyzmq
rapidfuzz
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rpds-py
rsa
safetensors
scipy
send2trash
sentry-sdk
setproctitle
setuptools
six
scikit-learn
smmap
sniffio
soupsieve
stack-data
sympy
terminado
tika
timm
tinycss2
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
types-python-dateutil
typing-extensions
typing-inspect
tzdata
unstructured
unstructured-client
unstructured-inference
unstructured-pytesseract
uri-template
uritemplate
urllib3
wandb
wcwidth
webcolors
webencodings
websocket-client
wrapt
xxhash
yarl
